/* Global Settings */
* {
  box-sizing: border-box;
}

.clearfix {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 40px;
  color: #656565;
}

h1,
h2 {
  font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
}

.green {
  color: #00c348;
}

.orange {
  color: #fc9a00;
}

.blue {
  color: #07a8f2;
}

.btn-default {
  background-color: #07a8f2;
  border-color: #07a8f2;
  color: #ffffff;
  border-radius: 2px;
  font-size: 1.2em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-default:hover {
  background-color: #0b65a5;
  border-color: #0b65a5;
  color: #ffffff;
}

.container {
  width: 95%;
}

.border-right {
  border-right: 1px solid #949494;
}

.float-right {
  float: right;
}

.navbar-collapse {
  background-color: #ffffff;
}

.navbar-brand {
  font-size: 2em;
}

/* -----------------------------------------
------------------Navigation --------------
------------------------------------------*/
.navbar-default {
  background-color: #ffffff;
  height: 80px;
  border-top: 1px solid #07a8f2;
}

.navbar-default .container-fluid {
  margin-top: 15px;
  width: 95%;
}

.navbar-default .container-fluid .navbar-right {
  padding: 6px;
}

.navbar-default .container-fluid .navbar-right a {
  margin-left: 1em;
  text-transform: uppercase;
}

/* -----------------------------------------
---------SECTION CROWDSOURCING 1 -----------
-------------------------------------------*/
.crowd-sourcing1 {
  background: url("https://wwwtc.wpengine.com/wp-content/themes/tc2-theme/appirio-50-50/i/desktop/bg-deliver-crowdsourcing.jpg");
  background-size: cover;
  color: #ffffff;
  height: 100%;
  width: 100%;
  padding-top: 50px;
}

.crowd-sourcing1 h1 {
  padding: 2em 0 0 0;
  font-size: 2.8em;
  line-height: 1.5em;
  letter-spacing: 1px;
}

.crowd-sourcing1 p {
  padding: 1em 0 1em 0;
  font-size: 1.4em;
  letter-spacing: 1px;
}

.crowd-sourcing1 .two-buttons {
  padding: 3em 0;
  margin-bottom: 3em;
  display: inline-block;
}

.crowd-sourcing1 .two-buttons a {
  border: 1px solid #ffffff;
  border-radius: 2px;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
  padding: 1em 3em;
  margin: 1em 2em 0 0;
  display: inline-block;
}

.crowd-sourcing1 .two-buttons a:hover {
  background: rgba(246, 246, 246, 0.2);
}

/* -----------------------------------------
---------SECTION CROWDSOURCING 2 -----------
-------------------------------------------*/
.crowd-sourcing2 {
  color: #656565;
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.crowd-sourcing2 h1 {
  padding: 1em 0 0 0;
  font-size: 2.8em;
  line-height: 1.5em;
}

.crowd-sourcing2 .row {
  width: 80%;
  margin: 1em auto 5em auto;
}

.crowd-sourcing2 .row i {
  font-size: 6em;
}

.crowd-sourcing2 .row h3 {
  font-size: 1.8em;
  margin: 0;
}

.crowd-sourcing2 .row p {
  font-size: 18px;
  padding: 5px 0 20px 0;
  margin: 6px auto;
}

.crowd-sourcing2 .row a {
  text-transform: uppercase;
}

/* -----------------------------------------
--------- COMMUNITY SECTION  ---------------
-------------------------------------------*/
.community {
  background: url("https://wwwtc.wpengine.com/wp-content/themes/tc2-theme/appirio-50-50/i/desktop/bg-meet-community.jpg");
  background-size: cover;
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.community h1 {
  padding: 1em 0;
  font-size: 2.8em;
}

.community p {
  font-size: 1.5em;
  padding: 0 0 1em 0;
}

.community h1.large-text {
  font-size: 6em;
  padding: 0;
}

.community span {
  font-size: 1.2em;
  text-transform: uppercase;
}

.community a {
  margin: 3em 0;
}

/* -----------------------------------------
--------- CHALLENGE SECTION  ---------------
-------------------------------------------*/
.challenge {
  background: #f1f1f1;
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.challenge .container {
  width: 80%;
}

.challenge .col-md-3 {
  padding: 0 10px;
}

.challenge h1 {
  padding: 30px 0 0 0;
}

.challenge .card {
  background: #ffffff;
  box-shadow: 0px 0px 5px #656565;
  margin: 2em 0;
  padding: 1.5em 1em;
}

.challenge .card .icon-top i {
  font-size: 36px;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  float: left;
  color: #ffffff;
  text-align: center;
  display: inline-block;
}

.challenge .card .icon-top .blue-back {
  background: #07a8f2;
}

.challenge .card .icon-top .orange-back {
  background: #fc9a00;
}

.challenge .card .icon-top .green-back {
  background: #00c348;
}

.challenge .card .icon-top .small {
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
  float: right;
}

.challenge .card i.user-round {
  border-radius: 100%;
  background: #c6c6c6;
  height: 30px;
  font-size: 30px;
  text-align: center;
  width: 30px;
}

.challenge .card h3 {
  font-size: 22px;
}

.challenge .card h2 {
  font-size: 24px;
}

.challenge .card a {
  margin: 1em 0 0 0;
}

.challenge .blue-top {
  border-top: 6px solid #07a8f2;
}

.challenge .orange-top {
  border-top: 6px solid #fc9a00;
}

.challenge .green-top {
  border-top: 6px solid #00c348;
}

/* ********************************
***** Handling screen resize ******
**********************************/
@media only screen and (max-width: 1100px) {
  /* -----------------------------------------
---------SECTION CROWDSOURCING 1 -----------
-------------------------------------------*/
  .crowd-sourcing1 .two-buttons {
    padding: 1em 0;
  }
  .crowd-sourcing1 .two-buttons a {
    padding: 1em 1em;
  }
}

@media only screen and (max-width: 550px) {
  /* -----------------------------------------
---------SECTION CROWDSOURCING 1 -----------
-------------------------------------------*/
  .crowd-sourcing1 h1 {
    font-size: 2em;
  }
  .crowd-sourcing1 .two-buttons {
    padding: 1em 0;
  }
  .crowd-sourcing1 .two-buttons a {
    margin: 1em 1em 0 0;
  }
  /* -----------------------------------------
---------SECTION CROWDSOURCING 2 -----------
-------------------------------------------*/
  .crowd-sourcing2 h1 {
    font-size: 2em;
  }
  /* -----------------------------------------
--------- COMMUNITY SECTION  ---------------
-------------------------------------------*/
  .community h1 {
    font-size: 2em;
  }
  .community p {
    font-size: 1.4em;
  }
  .community h1.large-text {
    font-size: 4em;
  }
  /* -----------------------------------------
--------- CHALLENGE SECTION  ---------------
-------------------------------------------*/
  .challenge h1 {
    font-size: 2em;
  }
  .challenge h3 {
    font-size: 1.4em;
  }
}
